{
  "plugins": ["stylelint-order"],
  "extends": ["stylelint-config-hudochenkov/full"],
  "overrides": [
    {
      "files": ["**/*.{tsx,ts}"],
      "customSyntax": "postcss-styled-syntax"
    }
  ],
  "rules": {
    "selector-max-type": null
  }
}
