*,
body {
  font-family: 'SUIT', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Jalnan OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-display: swap;
}
